@model IEnumerable<SMS.Models.Fees>

@{
    ViewData["Title"] = "Fees";
}

<h1>All Fees</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Fee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeeAmount) (BDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.FeeId">Edit</a> 
                <a class="btn btn-secondary mx-2"  asp-action="Details" asp-route-id="@item.FeeId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
